@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {margin:0; padding:0; font-family: 'Montserrat', sans-serif;}

h2 {margin-top:0; padding:1rem;}

#root {min-height: 100vh; max-width:1200px; margin:0 auto; display:flex; flex-direction: column;}

header {display:flex; flex-direction: column; justify-content: space-between; border-bottom:1px solid #dda;}

main {flex:1; display:flex; flex-direction: column-reverse;}

article h3 {margin-top:0}

article.listNotes {flex:1; padding:1rem;}

article.listNotes div {margin:1rem; box-shadow:2px 2px 3px #665;}

article.listNotes div h4 {padding:.5rem; margin:0; padding-left:2rem; display:flex; justify-content:space-between; position: relative; background-color: rgba(150,150,150,.3);}

article.listNotes div h4::before { position: absolute; display:block; content:""; left: -10px; top:-10px; width:2rem; height: 2rem; background-image: url("lead-pencil.svg"); background-repeat: no-repeat; background-size: cover; border:1px solid #bba; border-width: 1px 0 0 1px; fill: green;}

article.listNotes div p {padding:.5rem; margin:0;}

aside {flex-basis: 20rem; border:1px solid rgba(150,150,150,.3); border-width: 0 1px;}

aside h3 { margin: 1rem;}

form.form { margin: 1rem;}

label {display:block; margin:1rem 0 .5rem 0;}

aside input {width:90%; line-height: 1.6rem;}
aside textarea {width:90%; line-height: 1.6rem; height:10rem;}
aside button {width:90%; height:2rem; border:1px solid #663; background-color: #fff; margin:0; border-radius:2px; box-shadow:3px 3px 5px #663;}
aside button:hover {cursor: pointer;  box-shadow:3px 3px 5px #331;}

footer {flex-basis: 3rem; border-top:1px solid #dda;}

.search {
    height: 2rem;
    margin: 1rem;
    padding:3px;
    display:flex;
    background-color: rgba(150,150,150,.1);
    border:2px solid rgba(150,150,150,.7);
    border-radius: 5px;
}

.search h3 {margin:0; padding:.3rem}

.edit {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    min-height: 100vh;
    padding:0;
    background-color: #fff;
   
}
.edit form {background-color:  rgba(150,150,150,.1); margin:0; padding:1rem;}
.edit header {flex-direction: row; flex-wrap: wrap;}
.edit header h3 {margin:0; padding:.3rem; width:10rem; }
.edit header button {padding:.3rem; width:6rem;}
.edit form {padding:.5rem}
.edit label {margin: .5rem;}
.edit input {width:90%; line-height: 1.6rem;}
.edit textarea {width:90%; line-height: 1.6rem; height:4rem;}
.edit button {border:1px solid #111; width:10rem; height: 2rem; }
.edit > button {margin:0 1rem;}

.navgh ul {display: flex; list-style-type: none;}
.navgh a {display:block; padding:.5rem; text-decoration: none;}
.navgh a:hover {text-decoration: underline; background-color: rgba(151,151,151,.1);}

@media (min-width:700px) and (min-height:500px) {
    header { max-height: 4rem; flex-direction: row;}
    main { flex-direction: row;}

    .edit {
        position: fixed;
        left:50%;
        top:50%;
        width:40rem;
        height: auto;
        min-height: auto;
        transform: translate(-50%, -50%);
        padding:0;
        background-color: #fff;
        border:1px solid #996;
          box-shadow: 0 20px 40px -10px rgba(81,81,81,.5);
    }
    .edit header h3 {margin:0; padding:.5rem; width:calc(100% - 9rem);}
    .edit header button {margin:.5rem;}
 
    .edit textarea {height:10rem;}
    
    .edit button:hover {cursor: pointer;  box-shadow:3px 3px 5px #331;}
}